<div class="container">
	<div class="span3">
<%= form_tag sessions_path, class: 'form-signin'  do %>
   <h2 class="form-signin-heading">Please sign in</h2>
      <%= text_field :email, nil, class: 'form-control', :placeholder => "Email adress" , :autofocus => true%><br />
      <%= password_field_tag :password%><br/>
	  <%= submit_tag "Sign in", :class => 'btn btn-primary btn-block' %>
  <% end %>
    </div>
</div> 