    <table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Release Date</th>
    <th>Price</th>
  </tr>
   <% @units.each do |unit| %>
  <tr>
    <td><%= unit.unit_id %></td>
   
  </tr>
  <% end %>
</table>